
@{
    ViewData["Title"] = "Ввод строки";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1 class="fs-1">Ввод строки</h1>
    <div>Введите строку для проверки, является ли она палиндромом.</div>
    <div>
        <form method="post">
            <div id="divCont">
                <div><input type="text" name="str" style="width:600px; margin: 15px" value="Уж редко рукою окурок держу" />  <input type="submit" class="btn btn-primary" style="margin: 15px" value="Рассчитать" /></div>
            </div>
            <br />
        </form>
    </div>
</body>
</html>